[DATABASE]
main_db = C:/PROJECTS/amr/06-08-2026/Source/2025.mdb
timesheet_db = C:/PROJECTS/amr/06-08-2026/Source/TimeSheet.mdb
last_user_id = 2107

[SETTINGS]
retry_attempts = 3
retry_delay_ms = 100

[PASSWORDS]
